html {
    background-color: rgb(230, 168, 168);
    width: 100%;
}

footer{
background-color: rgb(214, 198, 198);
    color: white;
    text-align: center;
    grid-row-start: 6;
    grid-row-end: 6;
    grid-column-start:1;
    grid-column-end:5;
    opacity: 0.8;
}

a {
    margin-right: 10px;
}

table{
    text-align: right;
}